---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import { createHref } from '../../utils'

const url = Astro.url
const blogs = await getCollection('blog')
---

<Layout>
  {
    blogs.map((b) => (
      <a href={createHref({ path: `/${b.slug}`, url })}>
        <div>
          <h2>{b.data.title}</h2>
        </div>
      </a>
    ))
  }
</Layout>
