---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'

const blogs = await getCollection('blog')
---

<Layout>
  {
    blogs.map((b) => (
      <a href={b.slug}>
        <div>
          <h2>{b.data.title}</h2>
        </div>
      </a>
    ))
  }
</Layout>
