---
import { createHref } from '@/utils'
export interface Props {
  title?: string
  noindex?: boolean
}

const { title, noindex = false } = Astro.props

const pageTitle = title ? `${title} | otomomik BLOG` : 'otomomik BLOG'
const url = Astro.url
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    {noindex && <meta name="robots" content="noindex" />}
    <link rel="canonical" href={url.href} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <header>
      <h1>
        <a
          href={createHref({
            path: '',
            url,
          })}>otomomik BLOG</a
        >
      </h1>
      <slot />
    </header>
  </body>
</html>
